*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-page{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 
        "sidebar topbar" 
        "sidebar home-page";
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 13vh 1fr;
}
.sidebar{
    background-color: #1992D4;
    grid-area: sidebar;
    display: grid;
    grid-template-areas: 
        "sidebar-top"
        "sidebar-nav"
        "sidebar-branding";
    grid-template-rows: 5% 40% 55%;
}

.sidebar-top{
    grid-area: sidebar-top;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

.sidebar-top-icon{
    font-size: 200%;
    margin-left: 5%;
}

.sidebar-top-text{
    font-size: 150%;
} 
.topbar{
    background-color: #FFFFFF;
    grid-area: topbar;
}

.home-page{
    background-color: #E2E8F0;
    grid-area: home-page;
}