*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

.main{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    padding: 20px;
    gap: 10px;
}

.left{
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
    width: 33.33%;
}

.right {
    background-color: blueviolet;
    height: 100%;
    width: 66.67%;
}

.left button {
    width: 60%;
    background-color: black;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
}

.left h1 {
    margin-top: 30%;
    margin-bottom: 20px;
    font-size: 40px;
}

.left p {
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 20px;
}

.arrow {
    font-size: 80px;
    margin-top: 20%;
}

.cards{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card{
    position: relative;
    height: 100%;
    width: 33.33%;
    background-color: rgb(163, 18, 18);
    border-radius: 30px;
    overflow: hidden;
}

.card img {
    
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card h1{
    position: absolute;
    color: black;
    top: 20px;
    left: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
}

.card p {
    position: absolute;
    color: white;
    bottom: 80px;
    left: 20px;
    right: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.card button {
    width:70%;
    position: absolute;
    color: white;
    bottom: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: rgb(77, 73, 73);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card span {
    margin-left: 15px;
}

.card button:hover {
    background-color: black;
    cursor: pointer;
}