*{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    color: crimson;
    background-color: rgb(25, 25, 25);
    text-decoration: dashed underline;
    text-align: center;
}

.heading {
    color: darkblue;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
}

body {
    background-color: #121212;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.container {
    text-align: center;
    background-color: #282c34;
    padding: 30px;
    border-radius: 10px;
    height: 50vh;
    color: white;
}


.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    border: #282c34 solid 5px;
    margin-top: 30px;
    background-color: #1b1d23;
}

.child {
    background-color: teal;
    padding: 20px;
    margin: 15px;
    border-radius: 5px;
    color: white;
    height: 200px;
    width: 200px;

    background-size: cover;
    background-position: center;
}

#child1 {
    background-image: url(./vietnam-6947339_640.jpg);
}

#child2 {
    background-image: url(./gibbon-8087301.jpg);
}

#child3 {
    background-image: url(./landscape-7368851_640.jpg);
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: rgb(8, 34, 34);
    color: white;
    cursor: pointer;
}
