* {
  padding: 0;
  margin: 0;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
}

@font-face {
  font-family: 'MyFont';
  src: url(src/Norse-Bold.otf) format('opentype');
}

.image-part{
  background-image: url("src/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 35%;
  display: flex;
}

.logo-part{
  margin-top: 35vh;
  background-color: white;
  width: 35vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.logo{
  background-image: url("src/logo.png");
  background-position: center;
  width: 7rem;
  height: 7rem;
  background-size: cover;;
}


.logo-text{
  font-size: 3rem;
  font-weight: bold;
  color: black;
  margin-left: 1rem;
  font-family: 'MyFont';
}

.creator-credit{
  position: absolute;
  bottom: 1vh;
  left: 1rem;
  font-size: 0.8rem;
  color: white;
}

.sign-up-side{
  width: 65%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  background-color: #D2D8D8;
}

.sign-up-heading-text{
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 4rem;
  padding-left: 2rem;
}
.form-content{
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  padding: 2rem;
  background-color: white;
}

.form-content form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
  grid-template-areas: 
    "first-name last-name"
    "email email"
    "password confirm-password";
  gap: 10px;
}

a{
  text-decoration:none;
  color: green;
  font-weight: bold;
}

button{
  background-color: green;
  color: white;
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 5px; 
  cursor: pointer;
}

.create-account{
  padding-top: 2rem;
  padding-left: 2rem;
}

.creator-credit a{
  text-decoration:none;
  color: white;
}

.log-in{
  padding-top: 2rem;
  padding-left: 2rem;
}

p{
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  margin-bottom: 1rem;
}

.input-field{
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1rem;

}

input{
  width: 50%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.label{
  font-size: 1rem;
  color: black;
  margin-bottom: 0.5rem;
}

input:focus{
  border-color: green;
  outline: none;
}